@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #333;
}

/* Page background */
body {
    background-color: azure;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 90%;
}

/* Navbar */
.navbar {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
    background-color: #333;
    overflow: hidden;
    margin-bottom: 20px;
}

/* Navbar links */
.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Navbar hover effect */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Table */
table {
    border-collapse: collapse;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
} */

th {
    background-color: #333;
    color: #fff;
}

td {
    background-color: #fff;
}

/* Print */
@media print {
    button { display: none; }
    table { width: 100%; font-size: 12px; }
    th, td { padding: 4px; }
}

button {
    width: 200px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #7494ec;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.5s;
    
}
button:hover {
    background: #6884d3;
}
.payroll{
    display: inline;
}

.btn {
    width: 200px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #7494ec;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
}
.btn:hover {
    background: #6884d3;
}