@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    background-color: azure;
    min-height: 100vh;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}
button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #7494ec;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.5s;
}
button:hover {
    background: #6884d3;
}
.clicked {
    background-color: #495c94;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.submit:hover {
    background-color: #bbb ;
     cursor: pointer;
}
.submit {
    margin-top: 20px;
}

p{
    text-align: center;
    margin-top: 20px;
}
a {
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}


